RAK831/source/system_info_nodered_RAK831.json
[{"id":"623a923a.6981ec","type":"tab","label":"TTN RAK831","disabled":false,"info":""},{"id":"1250e8ad.aba797","type":"ui_chart","z":"623a923a.6981ec","name":"","group":"7d1b4c5e.57d364","order":3,"width":"9","height":"4","label":"Load","chartType":"line","legend":"false","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":410,"y":180,"wires":[[],[]]},{"id":"7f23810f.f79e9","type":"ui_chart","z":"623a923a.6981ec","name":"","group":"7d1b4c5e.57d364","order":2,"width":"6","height":"4","label":"Temperature","chartType":"line","legend":"false","xformat":"HH","interpolate":"bezier","nodata":"","dot":false,"ymin":"30","ymax":"80","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff8000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":430,"y":80,"wires":[[],[]]},{"id":"efb44c08.52e18","type":"mqtt in","z":"623a923a.6981ec","name":"/home/rak831/disk","topic":"/home/rak831/disk","qos":"0","datatype":"auto","broker":"2dfe1747.bcf7a8","x":130,"y":240,"wires":[["81ad21f5.dd976"]]},{"id":"81ad21f5.dd976","type":"ui_gauge","z":"623a923a.6981ec","name":"","group":"7d1b4c5e.57d364","order":5,"width":"3","height":"3","gtype":"gage","title":"Storage","label":"%","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":240,"wires":[]},{"id":"5c31ea2f.57e464","type":"mqtt in","z":"623a923a.6981ec","name":"/home/rak831/temperature","topic":"/home/rak831/temperature","qos":"0","datatype":"auto","broker":"2dfe1747.bcf7a8","x":150,"y":80,"wires":[["7f23810f.f79e9","659e5f93.667c3","75f8b8a2.256c88"]]},{"id":"e73ea671.15d5b8","type":"mqtt in","z":"623a923a.6981ec","name":"/home/rak831/load","topic":"/home/rak831/load","qos":"0","datatype":"auto","broker":"2dfe1747.bcf7a8","x":130,"y":180,"wires":[["1250e8ad.aba797"]]},{"id":"e5118ce7.f868a","type":"mqtt in","z":"623a923a.6981ec","name":"/home/rak831/disk","topic":"/home/rak831/ram","qos":"0","datatype":"auto","broker":"2dfe1747.bcf7a8","x":130,"y":280,"wires":[["6ad80425.23c02c","d045f1ff.b9901"]]},{"id":"6ad80425.23c02c","type":"ui_gauge","z":"623a923a.6981ec","name":"","group":"7d1b4c5e.57d364","order":6,"width":"3","height":"3","gtype":"gage","title":"RAM","label":"%","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":280,"wires":[]},{"id":"659e5f93.667c3","type":"ui_gauge","z":"623a923a.6981ec","name":"","group":"7d1b4c5e.57d364","order":1,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}ºC","min":"30","max":"80","colors":["#00ff00","#ffff00","#d50000"],"seg1":"45","seg2":"60","x":430,"y":40,"wires":[]},{"id":"84f4f771.e96a28","type":"delay","z":"623a923a.6981ec","name":"","pauseType":"delayv","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":400,"wires":[["731e23b7.99727c","c278125b.4085d"]]},{"id":"77aa62cc.aea92c","type":"inject","z":"623a923a.6981ec","name":"","topic":"","payload":"green","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":470,"y":320,"wires":[["d6c169a5.1393c8"]]},{"id":"731e23b7.99727c","type":"change","z":"623a923a.6981ec","name":"red transformation","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":360,"wires":[["d6c169a5.1393c8"]]},{"id":"d6c169a5.1393c8","type":"ui_colour_picker","z":"623a923a.6981ec","name":"Alive RAK831","label":"Alive","group":"7d1b4c5e.57d364","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":4,"width":"2","height":"2","passthru":true,"topic":"","x":760,"y":360,"wires":[[]]},{"id":"8378ea0a.3f34a8","type":"e-mail","z":"623a923a.6981ec","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"mcorts69@icloud.com","dname":"RAK831 down alert!","x":780,"y":400,"wires":[]},{"id":"c278125b.4085d","type":"change","z":"623a923a.6981ec","name":"alert message","rules":[{"t":"set","p":"payload","pt":"msg","to":"TTN RAK831 gateway NOT ALIVE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["8378ea0a.3f34a8"]]},{"id":"d045f1ff.b9901","type":"function","z":"623a923a.6981ec","name":"reset to time","func":"msg.reset = 1;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":340,"wires":[["84f4f771.e96a28"]]},{"id":"75f8b8a2.256c88","type":"switch","z":"623a923a.6981ec","name":"Control Temp. >60C","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"60","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":120,"wires":[["9b276ce5.1a0e1"]]},{"id":"9b276ce5.1a0e1","type":"function","z":"623a923a.6981ec","name":"Compose payload value","func":"msg.payload = flow.get('temperature') + \"C TTN Gateway RAK831 TEMPERATURE ALERT\";\nreturn [msg];","outputs":1,"noerr":0,"x":730,"y":120,"wires":[["5e5b25ac.fd75ec","1351e5fc.093bfa"]],"outputLabels":["Sunset"]},{"id":"1351e5fc.093bfa","type":"e-mail","z":"623a923a.6981ec","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"mcorts69@icloud.com","dname":"RAK831 message alert","x":1010,"y":100,"wires":[]},{"id":"5e5b25ac.fd75ec","type":"twitter out","z":"623a923a.6981ec","twitter":"","name":"RAK831 Tweet alert","x":1000,"y":140,"wires":[]},{"id":"7d1b4c5e.57d364","type":"ui_group","z":"","name":"CPU","tab":"754aa237.32a71c","order":1,"disp":true,"width":"9","collapse":false},{"id":"2dfe1747.bcf7a8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"754aa237.32a71c","type":"ui_tab","z":"","name":"TTN RAK831","icon":"router","order":10,"disabled":false,"hidden":false}]